# Ignoring node modules folder
node_modules/

# Ignore environmental variables
*.env

# Allow tracking of package.json
!package.json



#Database related files
vm.db

#ignore venv
venv/

*.pyc

adminHashing.py

__pycache__